body {
	text-align: center;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 30px;
	background-color: #111111;
	color: white;
}

.small {
	font-size: 0.8em;
}

.bold {
	font-weight: 700;
}

.black {
	font-weight: 900;
}

.blink {
    -webkit-animation: pulse 400ms infinite alternate;
	        animation: pulse 400ms infinite alternate;

	display: inline-block;
	padding: 0 4em;
}
@-webkit-keyframes pulse {
	0% { background-color: red; }
	100% { background-color: green; }
}
@keyframes pulse {
	0% { background-color: red; }
	100% { background-color: green; }
}

.frame {
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 1em;
	right: 1em;
	border: 5px solid red;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.date-numer {
	font-size: 7em;
	line-height: 0em;
}